<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				>
			</PatternLayout>
		</Console>
		<RollingFile name="RollingFile-Appender"
			fileName="${log-path}/internal-dashboard-services.log"
			filePattern="${log-path}/internal-dashboard-services.%d{yyyy-MM-dd-hh-mm}.log">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingFile-Appender" />
		</Root>
		<Root level="debug">
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>